version: '3.8'

services:
  scanner:
    build: 
      context: .
      dockerfile: src/api/Dockerfile
    env_file:
      - .env
    ports:
      - "80:80"
    restart: unless-stopped

  vulnerable_server:
    build: 
      context: .
      dockerfile: src/vulnerable_server/Dockerfile
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped
