* {
    color: white;
    font-family: "Fira Mono", monospace;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100vh;
    background: linear-gradient(120deg, #8e0e00, #1f1c18);
}

#content {
    align-self: flex-start;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#content, #container {
    /*height: 100vh;*/

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: flex-start;

    margin-top: 1vh;

    
}

.info {
    margin: 10px;
}

.text-input {
    text-align: center;
    margin: 5px;

    background: linear-gradient(170deg, #8e0e00, #1f1c18);
    border-radius: 5px;
    border-width: 2px;
    border-color: #470303;

    height: 20px;
}


button {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    margin: 5px;
}

input::placeholder {
    font-family: 'Fira Code', monospace;
    color: darkgray;
    user-select: none;
}